
{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK Prototype Kit
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		
		<form action="choice_action" method="post" class="form">
			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
						<h1 class="govuk-fieldset__heading">
							Content type
						</h1>
					</legend>
					<div class="govuk-radios__item">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="content_type_1" name="choice" type="radio" value="news">
							<label class="govuk-label govuk-radios__label" for="correct-agent-1">
								News
							</label>
							<span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
								Latest updates and communications for HMRC staff and contractors
							</span>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="content_type_2" name="choice" type="radio" value="guidance">
							<label class="govuk-label govuk-radios__label" for="correct-agent-2">
								Guidance
							</label>
							<span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
								Tell people how to complete a task
							</span>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="content_type_3" name="choice" type="radio" value="policy">
							<label class="govuk-label govuk-radios__label" for="correct-agent-2">
								Policy
							</label>
							<span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
								 Official policies
							</span>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="content_type_3" name="choice" type="radio" value="update">
							<label class="govuk-label govuk-radios__label" for="correct-agent-2">
								Operational update
							</label>
							<span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
								 Short informational updates e.g. payslips ready to view
							</span>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="content_type_3" name="choice" type="radio" value="gallery">
							<label class="govuk-label govuk-radios__label" for="correct-agent-2">
								Image gallery
							</label>
							<span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
								Share images in a gallery
							</span>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="content_type_3" name="choice" type="radio" value="event">
							<label class="govuk-label govuk-radios__label" for="correct-agent-2">
								Event
							</label>
							<span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
								Details about events coming up
							</span>
						</div>
					</div>
				</fieldset>
			</div>
			<button class="govuk-button" data-module="govuk-button">
				Continue
			</button>
			<br>
			<a class='govuk-link'href=../fmbr-home>Cancel</a>
		</form>
	</div>

{% endblock %}	
