
{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK Prototype Kit
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<a href="#" class="govuk-back-link">Back</a>
		<h1 class="govuk-heading-xl">
			Edit News
		</h1>
		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">
				Contents
			</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#copy">
						Content
					</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#meta-data">
						Meta data
					</a>
				</li>
			</ul>
			<div class="govuk-tabs__panel" id="copy">
				<form action='preview' method="post" class="form">
					<div class="govuk-form-group">
						<label class="govuk-label" for="full-name">
							Title
						</label>
						<input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false" value="Mute button causes conference confusion">
					</div>
					<div class="govuk-form-group">
						<label class="govuk-label" for="summary">
							Summary
						</label>
						<input class="govuk-input" id="summary" name="summary" type="text" autocomplete="name" spellcheck="false" value="A temporary halt to a meeting was caused by a mute button in a conference call today, leaving participants confused for several seconds. ">
					</div>
					<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="5000">
						<div class="govuk-form-group">
							<label class="govuk-label" for="with-hint">
								Content
							</label>
							<span id="with-hint-hint" class="govuk-hint">
								All content must comply with the gov.uk standards
							</span>
							<textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="15" aria-describedby="with-hint-info with-hint-hint">
A woman told a co-worker she couldn't hear him on a video conference call today in Worthing. 

The hour-long call was to discuss a project the pair were working on, alongside three other colleagues. 

Jade Rhondda told of how she saw her colleague Jim's mouth moving but realised she couldn't hear what he was saying.

"I just says to him - Jim I can't hear you. You're on mute or something."

After several seconds of 'awkward silence', Jim found the mute button and resumed his sentence. 

The meeting continued as planned.
							</textarea>
						</div>
						<span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to 5,000 characters
						</span>
					</div>
					<button class="govuk-button" data-module="govuk-button">
						Preview content
					</button>
				</form>
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="meta-data">
				
			</div>
		</div>
	</div>

{% endblock %}