
{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK Prototype Kit
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
			<h1 class="govuk-heading-xl">
				Content dashboard
			</h1>
			<a href="choice" class="govuk-button">Create new content</a>
			
			<h2 class="govuk-heading-m">
				Content in progress
			</h2>
			
		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">
				Contents
			</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#past-day">
						Draft (6)
					</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#past-week">
						QA (8)
					</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#past-month">
						Publish (7)
					</a>
				</li>
			</ul>
			<div class="govuk-tabs__panel" id="past-day">
				<div class="govuk-inset-text">
					Showing all content in draft status, ready to be submitted to QA
				</div>
				<table class="govuk-table">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Title</th>
							<th scope="col" class="govuk-table__header">Content type</th>
							<th scope="col" class="govuk-table__header">Creator</th>
							<th scope="col" class="govuk-table__header">Last updated</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><a href="edit_news" class="govuk-link govuk-link--no-visited-state">New office planned</a></td>
							<td class="govuk-table__cell">News</td>
							<td class="govuk-table__cell">David Francis</td>
							<td class="govuk-table__cell">17 July 2020 11:41 AM</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><a href="edit_news" class="govuk-link govuk-link--no-visited-state">Man bakes cakes</a></td>
							<td class="govuk-table__cell">News</td>
							<td class="govuk-table__cell">Paul Farmer</td>
							<td class="govuk-table__cell">14 July 2020 2:12 PM</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><a href="edit_content" class="govuk-link govuk-link--no-visited-state">Public like tax, says tax office</a></td>
							<td class="govuk-table__cell">Content</td>
							<td class="govuk-table__cell">Rita Patel</td>
							<td class="govuk-table__cell">12 June 2020 7:45 PM</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
				<div class="govuk-inset-text">
					Content waiting to be QAd
				</div>
				<table class="govuk-table">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Title</th>
							<th scope="col" class="govuk-table__header">Content type</th>
							<th scope="col" class="govuk-table__header">Creator</th>
							<th scope="col" class="govuk-table__header">Submitted for QA</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><a href="qa_check" class="govuk-link govuk-link--no-visited-state">Offices to be closed</a></td>
							<td class="govuk-table__cell">News</td>
							<td class="govuk-table__cell">David Francis</td>
							<td class="govuk-table__cell">23 July 2020 10:56 AM</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><a href="qa_check" class="govuk-link govuk-link--no-visited-state">Cake sale raises £11.09</a></td>
							<td class="govuk-table__cell">News</td>
							<td class="govuk-table__cell">Paul Farmer</td>
							<td class="govuk-table__cell">12 June 2020 1:21 PM</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><a href="qa_check" class="govuk-link govuk-link--no-visited-state">Car park to be made free</a></td>
							<td class="govuk-table__cell">Content</td>
							<td class="govuk-table__cell">Rita Patel</td>
							<td class="govuk-table__cell">16 May 2020 2:42 PM</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
				<div class="govuk-inset-text">
					Content waiting to be published
				</div>
				<table class="govuk-table">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Title</th>
							<th scope="col" class="govuk-table__header">Content type</th>
							<th scope="col" class="govuk-table__header">Creator</th>
							<th scope="col" class="govuk-table__header">Approved for publishing</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><a href="edit_news" class="govuk-link govuk-link--no-visited-state">Man bites dog</a></td>
							<td class="govuk-table__cell">News</td>
							<td class="govuk-table__cell">David Francis</td>
							<td class="govuk-table__cell">17 July 2020 11:41 AM</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><a href="edit_news" class="govuk-link govuk-link--no-visited-state">Office to be refurbished</a></td>
							<td class="govuk-table__cell">News</td>
							<td class="govuk-table__cell">Paul Farmer</td>
							<td class="govuk-table__cell">14 July 2020 2:12 PM</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><a href="edit_content" class="govuk-link govuk-link--no-visited-state">New intranet to be introduced across HMRC</a></td>
							<td class="govuk-table__cell">Content</td>
							<td class="govuk-table__cell">Rita Patel</td>
							<td class="govuk-table__cell">12 June 2020 7:45 PM</td>
						</tr>
					</tbody>
				</table>
			</div>
		
	</div>

{% endblock %}	
