
{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK Prototype Kit
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<a href="#" class="govuk-back-link">Back</a>
		<h1 class="govuk-heading-xl">
			Preview
		</h1>
		
		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">
				Contents
			</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#past-day">
						Desktop
					</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#past-week">
						Mobile
					</a>
				</li>
			</ul>
			<div class="govuk-tabs__panel" id="past-day">
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">
						<h2 class="govuk-heading-l">Mute button causes conference confusion</h2>
						<p class="govuk-body-l">A temporary halt to a meeting was caused by a mute button in a conference call today, leaving participants confused for several seconds. </p>
						<p class="govuk-body">A woman told a co-worker she couldn't hear him on a video conference call today in Worthing. </p>
						<p class="govuk-body">The hour-long call was to discuss a project the pair were working on, alongside three other colleagues. </p>
						<p class="govuk-body">Jade Rhondda told of how she saw her colleague Jim's mouth moving but realised she couldn't hear what he was saying.</p>
						<p class="govuk-body">"I just says to him - Jim I can't hear you. You're on mute or something."</p>
						<p class="govuk-body">After several seconds of 'awkward silence', Jim found the mute button and resumed his sentence. </p>
						<p class="govuk-body">The meeting continued as planned.</p>
					</div>
				</div>		
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-one-third">
						<h2 class="govuk-heading-l">Mute button causes conference confusion</h2>
						<p class="govuk-body-l">A temporary halt to a meeting was caused by a mute button in a conference call today, leaving participants confused for several seconds. </p>
						<p class="govuk-body">A woman told a co-worker she couldn't hear him on a video conference call today in Worthing. </p>
						<p class="govuk-body">The hour-long call was to discuss a project the pair were working on, alongside three other colleagues. </p>
						<p class="govuk-body">Jade Rhondda told of how she saw her colleague Jim's mouth moving but realised she couldn't hear what he was saying.</p>
						<p class="govuk-body">"I just says to him - Jim I can't hear you. You're on mute or something."</p>
						<p class="govuk-body">After several seconds of 'awkward silence', Jim found the mute button and resumed his sentence. </p>
						<p class="govuk-body">The meeting continued as planned.</p>	
					</div>
				</div>
			</div>
		</div>
	</div>
		<a href="sent_to_qa_confirm" class="govuk-button">Send to QA</a>
		<br>
		<a href="edit_news" class="govuk-link govuk-link--no-visited-state">Continue editing</a>

	</div>

{% endblock %}	