
{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK Prototype Kit
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<div class="govuk-panel govuk-panel--confirmation">
				<h1 class="govuk-panel__title">
					Published
				</h1>
				<div class="govuk-panel__body">
					
				</div>
			</div>


			<p class="govuk-body">
				<a href="index" class="govuk-link">Return to content dashboard</a>
			</p>
		</div>
	</div>


{% endblock %}	
