
{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK Prototype Kit
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<div class="govuk-panel govuk-panel--confirmation">
				<h1 class="govuk-panel__title">
					Sent to Creator
				</h1>
				<div class="govuk-panel__body">
					
				</div>
			</div>

			<p class="govuk-body">Your content has been sent back to the creator for action</p>

			<h2 class="govuk-heading-m">What happens next</h2>

			<p class="govuk-body">
				The creator will review your feedback and either:
			</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>make any amends</li>
				<li>publish the content</li>
			</ul>
			<p class="govuk-body">
				<a href="index" class="govuk-link">Return to content dashboard</a>
			</p>
		</div>
	</div>


{% endblock %}	
