
{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK Prototype Kit
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<div class="govuk-panel govuk-panel--confirmation">
				<h1 class="govuk-panel__title">
					QA submission complete
				</h1>
				<div class="govuk-panel__body">
					
				</div>
			</div>

			<p class="govuk-body">We have sent you a confirmation email.</p>

			<h2 class="govuk-heading-m">What happens next</h2>

			<p class="govuk-body">
				para saying what happens
			</p>
			<p class="govuk-body">
				<a href="index" class="govuk-link">return to admin front page</a>
			</p>
		</div>
	</div>


{% endblock %}	
